# Dependencies
node_modules/
.pnpm-store/

# Environment variables
.env
.env.local
.env.production

# Vercel
.vercel

# Build output
dist/
.next/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/
.claude/
*.swp
*.swo
